@use '../abstract' as a;

h1, h2, h3, h4,
h5, h6, p, button {
  font-family: 'Hanken Grotesk', sans-serif;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 1;
  font-weight: 600;

  @include a.breakpoint(medium){
    font-size: 1.1rem;
  }
}

li {
  list-style: none;
}

button {
  font-size: 1.2rem;
  font-weight: 700;
}